[submodule "provisioning/roles/kypo-common"]
	path = provisioning/roles/kypo-common
	url = ../kypo-common.git
[submodule "provisioning/roles/kypo-user-access"]
	path = provisioning/roles/kypo-user-access
	url = ../kypo-user-access.git
[submodule "provisioning/roles/kypo-interface"]
	path = provisioning/roles/kypo-interface
	url = ../kypo-interface.git
[submodule "provisioning/roles/kypo-man-logging-forward"]
	path = provisioning/roles/kypo-man-logging-forward
	url = ../kypo-man-logging-forward
[submodule "provisioning/roles/iptables"]
	path = provisioning/roles/iptables
	url = https://gitlab.ics.muni.cz/CSIRT-MU-public/ansible-roles/iptables.git
[submodule "provisioning/roles/kypo-user-access-windows"]
	path = provisioning/roles/kypo-user-access-windows
	url = https://gitlab.ics.muni.cz/muni-kypo-crp/backend-python/ansible-networking-stage/kypo-user-access-windows
[submodule "provisioning/roles/docker-compose"]
	path = provisioning/roles/docker-compose
	url = https://gitlab.ics.muni.cz/muni-kypo/ansible-roles/docker-compose
[submodule "provisioning/roles/docker"]
	path = provisioning/roles/docker
	url = https://gitlab.ics.muni.cz/CSIRT-MU-PUBLIC/ansible-roles/docker
[submodule "provisioning/roles/guacamole"]
	path = provisioning/roles/guacamole
	url = ../guacamole
[submodule "provisioning/roles/prometheus"]
	path = provisioning/roles/prometheus
	url = https://gitlab.ics.muni.cz/cerit-public/ansible-roles/prometheus.git
[submodule "provisioning/roles/k3s"]
	path = provisioning/roles/k3s
	url = https://gitlab.ics.muni.cz/cerit-public/ansible-roles/k3s.git
[submodule "provisioning/roles/blackbox-exporter"]
	path = provisioning/roles/blackbox-exporter
	url = https://gitlab.ics.muni.cz/cerit-public/ansible-roles/blackbox-exporter.git
[submodule "provisioning/roles/node-exporter"]
	path = provisioning/roles/node-exporter
	url = https://gitlab.ics.muni.cz/cerit-public/ansible-roles/node-exporter.git
[submodule "provisioning/roles/windows-exporter"]
	path = provisioning/roles/windows-exporter
	url = https://gitlab.ics.muni.cz/cerit-public/ansible-roles/windows-exporter.git
